[submodule "static/reveal.js"]
	path = static/js/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "static/reveal.js-plugins"]
	path = static/js/reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "static/js/reveal_countdown"]
	path = static/js/reveal_countdown
	url = https://github.com/cdurden/reveal_countdown.git
[submodule "static/js/literallycanvas"]
	path = static/js/literallycanvas
	url = https://github.com/literallycanvas/literallycanvas.git
[submodule "static/js/literallycanvas-core"]
	path = static/js/literallycanvas-core
	url = https://github.com/literallycanvas/literallycanvas-core.git
