[submodule "static/reveal.js"]
	path = static/js/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "static/reveal.js-plugins"]
	path = static/js/reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "algebra742live/reveal_countdown"]
	path = algebra742live/reveal_countdown
	url = https://github.com/cdurden/reveal_countdown.git
