{% extends "CompleteTableQuestion.html" %}
{% from "macros.html" import question_container_selector without context%}
{% block head %}
{{ super() }}
<script>
var draggable;
var droppable;
var lastDropzoneTarget;
var rect1;
{% if params.library=='jquery-ui' %}
    {% if 'block_container' in params %}
    console.log("starting jquery-ui draggable");
    $('#{{ params.block_container }}').find('.item').draggable({ revert: true, appendTo: ' });
    {% else %}
    $('{{- question_container_selector(question) }} .container').find('.item').draggable({ revert: true });
    {% endif %}
    var droppableConf =  {
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function( event, ui ) {
        this.originalSource.getAttribute("data-payload");
      }
    }
    {% if 'dropzone' in params %}
      {% for i in params.dropzone %}
        $('{{- question_container_selector(question) -}}').find("input[name=entries-{{i}}]").droppable(droppableConf);
      {% endfor %}
    {% else %}
    $('{{- question_container_selector(question) -}}').find('input').droppable(droppableConf);
    {% endif %}
{% else %}
loadScript("https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js", function() {
    console.log("setting up Draggable elements");
    {% if 'block_container' in params %}
    draggable = new Draggable.Draggable(document.querySelectorAll('#{{ params.block_container }}'), {
    {% else %}
    draggable = new Draggable.Draggable(document.querySelectorAll('{{- question_container_selector(question) }} .container'), {
    {% endif %}
      delay: 5,
      mirror: {
        //constrainDimensions: true,
        //helper: 'clone',
        //cursorOffsetX: 0,
        //cursorOffsetY: 0,
        //appendTo: '{{- question_container_selector(question) }}',
        appendTo: 'body',
      },
      draggable: '.item'
    })
    /*
    .on('touchstart',  function(e) {
        console.log('touchstart');
        console.log(e);
    })
    */
    .on('drag:start',  function(e) {
        console.log('drag:start');
        console.log(e);
        lastDropzoneTarget = null;
    })
    .on('mirror:move',  function(e) {
        rect1 = e.data.mirror.getBoundingClientRect();
    })
    .on('drag:move',  function(e) {
        if (e.sensorEvent.target.classList.contains('dropzone')) {
            lastDropzoneTarget = e.sensorEvent.target;
        } else {
            lastDropzoneTarget = null;
        }
    })
    .on('drag:stop',  function(e) {
        var max_overlap_area = 0;
        var dropzoneTarget = null;
        if (lastDropzoneTarget != null) {
            payload = e.originalSource.getAttribute("data-payload");
            lastDropzoneTarget.value=payload;
        } else {
            $('{{- question_container_selector(question) -}}').find('.dropzone').each(function() {
                rect2 = this.getBoundingClientRect();
                var overlap_area = Math.max(Math.min(rect1.right,rect2.right)-Math.max(rect1.left,rect2.left),0)*Math.max(Math.min(rect1.bottom,rect2.bottom)-Math.max(rect1.top,rect2.top),0);
                if (overlap_area > max_overlap_area) {
                    max_overlap_area = overlap_area;
                    dropzoneTarget = this;
                }
            });
            if (dropzoneTarget != null) {
                payload = e.originalSource.getAttribute("data-payload");
                dropzoneTarget.value=payload;
            }
        }
        lastDropzoneTarget = null;
        dropzoneTarget = null;
        e.cancel();
    });
    {% if 'dropzone' in params %}
      {% for i in params.dropzone %}
        $('{{- question_container_selector(question) -}}').find("input[name=entries-{{i}}]").addClass('dropzone');
      {% endfor %}
    {% else %}
    $('{{- question_container_selector(question) -}}').find('input').addClass('dropzone');
    {% endif %}
});
{% endif %}
</script>
{% endblock %}
{% block content %}
{{ super() }}
<center>
    {% if params.render_blocks %}
<div class="container" data-prevent-swipe="true">
    {% for block in params.blocks %}
    <div class="item" data-payload="{{ block }}">{{ block }}</div>
    {% endfor %}
    {% endif %}
</div>
</center>
{% endblock %}

