{% extends "CompleteTableQuestion.html" %}
{% from "macros.html" import question_container_selector with context%}
{% block head %}
{{ super() }}
<script>
var draggable;
var droppable;
loadScript("https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js", function() {
/*
    draggable = new Draggable.Draggable(document.querySelectorAll('ul'), {
      draggable: 'li'
    })
  .on('drag:start', () => console.log('drag:start'))
  .on('drag:move',  () => console.log('drag:move'))
  .on('drag:stop',  () => console.log('drag:stop'));
*/
    droppable = new Draggable.Droppable(document.querySelectorAll('{{- question_container_selector() -}}'), {
  draggable: '.item',
  dropzone: '.dropzone'
});
    droppable.on('droppable:dropped', function(e) {
        console.log('droppable:dropped');
        console.log(e);
        //console.log(e.dragEvent.originalSource);
        console.log(e.dragEvent.originalSource.getAttribute("data-payload"));
        e.cancel();
    });
droppable.on('droppable:returned', () => console.log('droppable:returned'));
$('{{- question_container_selector() -}}').find('input').addClass('dropzone');
});
</script>
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    {% for block in blocks %}
    <div class="dropzone draggable-dropzone--occupied"><div class="item" data-payload="{{ block }}">{{ block }}</div></div>
    {% endfor %}
</div>
{% endblock %}
