<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
<script>
const draggable = new Draggable(document.querySelectorAll('ul'), {
      draggable: 'li'
});
</script>
<table>
    <tbody>
    <tr>
{% if transpose_display %}
transpose_display
{% for column in df.columns %}
    <tr>
        <th>{{ df[column][0] }}</th>
    {% for row in df.transpose().columns %}
        {% if (row,column) in missing_entries %}
            <td>{{ form.entries[missing_entries.index((row,column))] }}</td>
        {% else %}
            <td>{{ df[column][row] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
{% else %}
{% for column in df.columns %}
        <th>{{ column }}</th>
{% endfor %}
    </tr>
{% for row in df.transpose().columns %}
    <tr>
    {% for column in df.columns %}
        {% if (row,column) in missing_entries %}
            <td>{{ form.entries[missing_entries.index((row,column))] }}</td>
        {% else %}
            <td>{{ df[column][row] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
