{% extends "CompleteTableQuestion.html" %}
{% from "macros.html" import question_selector with context%}
{% block head %}
{{ super() }}
<script>
var draggable;
loadScript("https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js", function() {
/*
    draggable = new Draggable.Draggable(document.querySelectorAll('ul'), {
      draggable: 'li'
    })
  .on('drag:start', () => console.log('drag:start'))
  .on('drag:move',  () => console.log('drag:move'))
  .on('drag:stop',  () => console.log('drag:stop'));
*/
const droppable = new Droppable.Droppable(document.querySelectorAll('.container'), {
  draggable: '.item',
  dropzone: '.dropzone'
});
droppable.on('droppable:dropped', () => console.log('droppable:dropped'));
droppable.on('droppable:returned', () => console.log('droppable:returned'));
{{ question_selector() -}}.find('input').addClass('dropzone');
});
</script>
{% endblock %}
{% block body %}
{{ super() }}
<ul>
    {% for block in blocks %}
        <li class="item">{{ block }}</li>
    {% endfor %}
</ul>
{% endblock %}
