<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
<script>
const draggable = new Draggable(document.querySelectorAll('ul'), {
      draggable: 'li'
});
</script>
<table>
    <tbody>
    <tr>
{% for column in df.columns %}
        <th>{{ column }}</th>
{% endfor %}
    </tr>
{% for column in df.columns %}
    <tr>
    {% for i,entry in enumerate(df[column]) %}
        <td>{{ df[column][i] }}</td>
    {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>
