{% extends "Question.html" %}
{% block form_content %}
<table>
    <tbody>
    <tr>
{% if transpose_display %}
{% for column in df.columns %}
    <tr>
        <th>{{ column }}</th>
    {% for row in df.transpose().columns %}
        {% if (row,column) in missing_entries %}
            <td>{{ form.entries[missing_entries.index((row,column))] }}</td>
        {% else %}
            <td>{{ df[column][row] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
{% else %}
{% for column in df.columns %}
        <th>{{ column }}</th>
{% endfor %}
    </tr>
{% for row in df.transpose().columns %}
    <tr>
    {% for column in df.columns %}
        {% if (row,column) in missing_entries %}
            <td>{{ form.entries[missing_entries.index((row,column))] }}</td>
        {% else %}
            <td>{{ df[column][row] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
{% endif %}
    </tbody>
</table>
{% endblock %}
