{% from "macros.html" import question_container_selector without context%}
{% macro content(question, form, params) %}
<div class="literally"></div>
<div class="tools">
  <a class="tool-pencil">pencil</a>
  |
  <a class="tool-eraser">eraser</a>
  |
  <a class="tool-text">text</a>
</div>

<!-- replace window.LC with core build version -->
<script src="/static/js/literallycanvas-0.4.14/js/literallycanvas-core.js"></script>
<!--
<script src="/static/js/ResizeSensor.js"></script>
<link rel="stylesheet" href="/static/css/literallycanvas.css">-->
<link rel="stylesheet" href="/static/js/literallycanvas-0.4.14/css/literallycanvas.css">

<script>
$(document).ready(function(){
    let mqString = `(resolution: ${window.devicePixelRatio}dppx)`;
    $('{{- question_container_selector(question) -}}').find('.literally').each(function () {
        var container = this;
        var scale = window.devicePixelRatio;
        var backgroundImage = new Image();
        var lc;
        container.setAttribute("data-prevent-swipe", "");
        backgroundImage.src = "{{ params.background_image_url }}";
        var backgroundShape = LC.createShape('Image', {x: 0, y: 0, image: backgroundImage});
        lc = LC.init(container, {backgroundShapes: [backgroundShape]});
        var tools = [
          {
            name: 'pencil',
            el: $(container).next().find('.tool-pencil').get(0),
            tool: new LC.tools.Pencil(lc)
          },
          {
            name: 'eraser',
            el: $(container).next().find('.tool-eraser').get(0),
            tool: new LC.tools.Eraser(lc)
          },
          {
            name: 'text',
            el: $(container).next().find('.tool-text').get(0),
            tool: new LC.tools.Text(lc)
          },
        ];
    
        var activateTool = function(t) {
            lc.setTool(t.tool);
    
            tools.forEach(function(t2) {
              if (t == t2) {
                t2.el.style.backgroundColor = 'yellow';
              } else {
                t2.el.style.backgroundColor = 'transparent';
              }
            });
        }
    
        tools.forEach(function(t) {
          t.el.style.cursor = "pointer";
          t.el.onclick = function(e) {
            e.preventDefault();
            activateTool(t);
          };
        });
        activateTool(tools[0]);
        /*
        LC.util.addImageOnload(backgroundImage, function () {
            var backgroundShape = LC.createShape('Image', {x: 0, y: 0, image: backgroundImage});
            lc = LC.init(container, {backgroundShapes: [backgroundShape]});
        });
        <!-- custom UI example... -->
    });
});

</script>
{% endmacro %}
