{% from "macros.html" import question_container_selector with context%}
<div class="literally"></div>
<div class="tools">
  <a class="tool-pencil">pencil</a>
  |
  <a class="tool-eraser">eraser</a>
  |
  <a class="tool-text">text</a>
</div>

<!-- replace window.LC with core build version -->
<script src="{{ url_for('static',filename='js/literallycanvas-0.4.14/js/literallycanvas-core.js') }}"></script>
<script src="{{ url_for('static', filename='js/ResizeSensor.js') }}"></script>

<script>
function resizeCanvasToDisplaySize(canvas) {
   console.log(canvas);
   // look up the size the canvas is being displayed
   const width = canvas.clientWidth;
   const height = canvas.clientHeight;

   // If it's resolution does not match change it
   if (canvas.width !== width || canvas.height !== height) {
     canvas.width = width;
     canvas.height = height;
     return true;
   }

   return false;
}
LC.util.matchElementSize = function(elementToMatch, elementsToResize, scale, callback) {
    var resize;
    if (scale == null) {
      scale = LC.util.getBackingScale();
    }
    if (callback == null) {
      callback = function() {};
    }
    resize = (function(_this) {
      return function() {
        var el, i, len;
        for (i = 0, len = elementsToResize.length; i < len; i++) {
          el = elementsToResize[i];
          el.style.width = elementToMatch.offsetWidth + "px";
          el.style.height = elementToMatch.offsetHeight + "px";
          if (el.width != null) {
            el.setAttribute('width', el.getBoundingClientRect().width * scale);
            el.setAttribute('height', el.getBoundingClientRect().height * scale);
          }
        }
        return callback();
      };
    })(this);
    elementToMatch.addEventListener('resize', resize);
    window.addEventListener('resize', resize);
    window.addEventListener('orientationchange', resize);
    resize();
    return resize;
}
$(document).ready(function(){
    let mqString = `(resolution: ${window.devicePixelRatio}dppx)`;
    $('{{- question_container_selector() -}}').find('.literally').each(function () {
        var container = this;
        var scale = window.devicePixelRatio;
        var backgroundImage = new Image();
        var lc;
        container.setAttribute("data-prevent-swipe", "");
        backgroundImage.src = "{{ params.background_image_url }}";
        LC.util.addImageOnload(backgroundImage, function () {
            var backgroundShape = LC.createShape('Image', {x: 0, y: 0, image: backgroundImage});
            lc = LC.init(container, {backgroundShapes: [backgroundShape]});
            //LC.util.matchElementSize(container, $(container).find('canvas'),null,LC.repaintAllLayers);
            /*
            $(container).find('canvas').each(function() {
                var canvas = this;
                new ResizeSensor($(container), function(){ 
                    var scale = LC.util.getBackingScale();
                    //LC.util.matchElementSize(container, canvas, LC.util.getBackingScale());
                    //LC.util.matchElementSize(container, canvas, scale);
                    matchElementSize(container, canvas, scale);
                    console.log('content dimension changed');
                });
                matchMedia(mqString).addListener(function() {
                    var scale = LC.util.getBackingScale();
                    console.log('content dimension changed');
                    //LC.util.matchElementSize(container, canvas, scale);
                    matchElementSize(container, canvas, scale);
                    var ctx = canvas.getContext('2d');
                    ctx.scale(scale, scale);
                });
                var scale = LC.util.getBackingScale();
                //LC.util.matchElementSize(container, $(container).find('canvas'), LC.util.getBackingScale());
                //LC.util.matchElementSize(container, this, scale);
                var ctx = this.getContext('2d');
                ctx.scale(scale, scale);
                //LC.util.matchElementSize(container, this, scale);
                console.log('content dimension changed');
            });
            */
            var tools = [
              {
                name: 'pencil',
                el: $(container).next().find('.tool-pencil').get(0),
                tool: new LC.tools.Pencil(lc)
              },
              {
                name: 'eraser',
                el: $(container).next().find('.tool-eraser').get(0),
                tool: new LC.tools.Eraser(lc)
              },
              {
                name: 'text',
                el: $(container).next().find('.tool-text').get(0),
                tool: new LC.tools.Text(lc)
              },
            ];
        
            var activateTool = function(t) {
                lc.setTool(t.tool);
        
                tools.forEach(function(t2) {
                  if (t == t2) {
                    t2.el.style.backgroundColor = 'yellow';
                  } else {
                    t2.el.style.backgroundColor = 'transparent';
                  }
                });
            }
        
            tools.forEach(function(t) {
              t.el.style.cursor = "pointer";
              t.el.onclick = function(e) {
                e.preventDefault();
                activateTool(t);
              };
            });
            activateTool(tools[0]);
        });
        //resizeCanvasToDisplaySize(this) 
        <!-- custom UI example... -->
    });
});

</script>
