.lower_roman+ol, .lower_roman+ul {list-style-type: lower-roman;}
.upper_roman+ol, .upper_roman+ul {list-style-type: upper-roman;}
.lower_alpha+ol, .lower_alpha+ul {list-style-type: lower-alpha;}
.upper_alpha+ol, .upper_alpha+ul {list-style-type: upper-alpha;}
.lower_greek+ol, .lower_greek+ul {list-style-type: lower-greek;}
.lower_latin+ol, .lower_latin+ul {list-style-type: lower-latin;}
.upper_latin+ol, .upper_latin+ul {list-style-type: upper-latin;}
.none+ol, .none+ul {list-style-type:none;}
.disc+ol, .disc+ul {list-style-type:disc;}
.circle+ol, .circle+ul {list-style-type:circle;}
.square+ol, .square+ul {list-style-type:square;}
.decimal+ol, .decimal+ul {list-style-type:decimal;}
.decimal_leading_zero+ol, .decimal_leading_zero+ul {list-style-type:decimal-leading-zero;}

.container {
    width: fit-content;
}
.item {
    touch-action: none;
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
}
.literally {
    touch-action: none;
}
.reveal section table tbody td input {
    max-width: 75px;
}
.reveal section table {
    table-layout: fixed;
}
.reveal section table tbody tr td:first-child {
    width: fit-content;
}
.reveal section table tbody tr td {
    border: 1px solid #000;
    padding: 10px 25px 10px 25px;
    width: 100px;
}
.reveal section table tbody tr:last-child td {
    border-bottom: 1px solid #000;
}
.reveal section div.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
}

.reveal section.medium-font {
    font-size: 24pt;
}
.reveal section img {
    padding: 10px;
}
.reveal section {
    font-size; 24pt;
}
.reveal section img.noborder {
    border: 0;
    box-shadow: none;
}
ol.alpha {list-style-type: lower-alpha;}
.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none; }
.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline; }
html.dim .backgrounds {
   -webkit-filter: blur(4px) saturate(1) brightness(1.2);
   -moz-filter: blur(4px) saturate(1) brightness(1.1);
   -o-filter: blur(4px) saturate(1) brightness(1.1);
   -ms-filter: blur(4px) saturate(1) brightness(1.1);
   filter: blur(4px) saturate(1) brightness(1.1);
   opacity: 0.5;
}
div.drawing_canvas_container {
  border: red 1px solid;
  overflow: hidden;
  resize: both;
  position: relative;

  max-height: 600px;
  max-width: 800px;
  height: 500px;
  width:100%; margin:10px;padding:10px;
  touch-action: none;
}
.drawing_canvas_container canvas {
  position: absolute; top: 10px; left: 10px; touch-action: none;
}
div.literally {
  width: 100%;
  height: 400px;
  position: relative;
  margin-bottom: 8px;
}
.lc-drawing {
    width: 100%;
    height: 100%;
}
.literally canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
button { background-color: rgb(199, 199, 199); margin-bottom: 8px; }
