div.north { background: blue; position: absolute; top: -20px; }
div.east { background: yellow; position: absolute; width: 100%; right: -20px;}
div.south{ background: green; position: absolute; bottom: -20px; }
div.west { background: orange; position: absolute; left: -20px; }
div.mid { background: red; position: absolute; top: 0px; left: 0px; }
div.frame { background: red; margin: 20px 20px 20px 20px; position: relative; overflow: visible; height: 160px;}
.east input { position: absolute; transform: rotate(-90deg); }
.south input { position: absolute;}
table.iotable {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18pt;
}
table.iotable td {
    border: 1px solid black;
    padding: 10px;
}
table.iotable th {
    border: 1px solid black;
    padding: 10px;
}
div.lhs {
    width: 40%;
    float: left;
}
.prompt {
    line-height: 1.6;
    font-size: 16pt;
}
.card img {
    max-height: 100%;
    max-width: 100%;
}
div.rhs {
    width: 40%;
    float: right;
}
img.lhs {
    width: 100%;
}
img.rhs {
    width: 100%;
}
div.input {
    clear: both;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
div.answer_choices {
    grid-column-gap: 50px;
}
div.answer_choice {
    width: 48%;
}
div.answer_choice img {
    width: 100%;
}
div#nav {
    display: inline;
    font-size: 18pt;
}
div#nav li {
    display: inline;
}
div#content {
    clear: left;
}
