<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Have you met your match?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/keypress-2.1.5.min.js"></script>
    <script src="/static/js/connect4.js"></script>
<!--
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({ "HTML-CSS": { scale: 200 }, TeX: { extensions: ["autobold.js", "AMSsymbols.js"] } });
    </script>
-->
<script type="text/javascript">
  window.MathJax = {
    AuthorInit: function () {
      MathJax.Hub.Register.StartupHook("Begin",function () {
        MathJax.Hub.Queue(function () {
            /*
          var math = document.getElementById("rescale");
          var w = math.offsetWidth, W = math.parentNode.offsetWidth-40;
          if (w > W) {
            math.style.fontSize = (95*W/w)+"%";
            MathJax.Hub.getAllJax(math)[0].Rerender();
          }
          */
        });
      });
    },
    jax: ["input/TeX","output/HTML-CSS","output/NativeMML"],
    tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] },
    extensions: ["tex2jax.js"],
  };
</script>
    <script type="text/javascript" src="/static/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
    <script>
    var socket = io.connect('https://' + document.domain + ':' + location.port);
    //var flip_card;
    var input_callback;
    var roll_callback;
    var player_id;
    socket.on('connect', function() {
        console.log('Websocket connected!');
        //createRoom();
    });
    socket.on('join_room', function(data) {
        console.log(data);
        room = data.room;
        var flip_card = function(room) { return function(card) {
            socket.emit('flip_card', {card: card, room: room});
        }; }(room);
        var roll = function(room) { return function() {
            socket.emit('roll', {room: room});
        }; }(room);
        input_callback = function(room) { return function() {
            socket.emit('input', {room: room});
        }; }(room);
        roll_callback = function(room) { return function() {
            socket.emit('roll', {room: room});
        }; }(room);
        loadGame(flip_card, roll, input_callback)
        console.log("Game loaded");
    });
    socket.on('reset_game', function(data) {
        console.log(data);
        reset_game(data.flipped_cards, data.players, data.active_player, data.dice)
    });
    socket.on('update_game', function(data) {
        console.log(data);
        update_game(data.flipped_cards, data.players, data.active_player, data.dice)
    });
    socket.on('prompt', function(data) {
        console.log(data);
        player = data['player'];
        get_input(player, input_callback);
    });
    function createRoom() {
        socket.emit('create', {size: 'normal', teams: 2, dictionary: 'Simple'});
    }
    function joinRoom(room) {
        socket.emit('join', {room: room});
    }
    function submitAnswer(answer) {
        socket.emit('submit_answer', {answer: answer});
    }
    document.onreadystatechange = function() {
        if (document.readyState == "complete") {
            function showMessage(message) {
                var i = document.createElement('li');
                i.textContent = message;
                document.getElementById('messages').appendChild(i);
            }
            if (!window.WebSocket) {
                if (window.MozWebSocket) {
                    window.WebSocket = window.MozWebSocket;
                } else {
                    showMessage("Your browser doesn't support WebSockets")
                }
            }
            document.getElementById('create').addEventListener('click', function(event) {
                socket.emit('create', data={});
            }, false);
            document.getElementById('join').addEventListener('click', function(event) {
                data = { 
                    room: document.getElementById('room').value,
                }
                socket.emit('join', data);
            }, false);
        }
    }

    </script>
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!--
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker" >
    -->
    <link rel="stylesheet" href="/static/css/memory.css">
</head>
<body>
<div id="feedbackPlayer1" class="overlay" onclick="feedbackPlayer1Off()"><div id="feedbackPlayer1Text"></div></div>
<div id="feedbackPlayer2" class="overlay" onclick="feedbackPlayer2Off()"><div id="feedbackPlayer2Text"></div></div>

    <div class="container">
        <header>
            <center>
            <h1>Have you met your match?</h1>
            <div class="timer"></div>
            </center>
        </header>


        <div id="deck" class='gameboard'>
            <center>
        <ul class="deck" id="card-deck">
            <li class="card" type="plane">
                <div id="expr1"></div>
            </li>
            <li class="card" type="anchor">
                <div id="expr2"></div>
            </li>
            <li class="card" type="bolt" >
                <div id="expr3"></div>
            </li>
            <li class="card" type="cube">
                <div id="expr4"></div>
            </li>
            <li class="card" type="anchor">
                <div id="expr5"></div>
            </li>
            <li class="card" type="leaf">
                <div id="expr6"></div>
            </li>
            <li class="card" type="bicycle">
                <div id="expr7"></div>
            </li>
            <li class="card" type="diamond">
                <div id="expr8"></div>
            </li>
            <li class="card" type="bomb">
                <div id="expr9"></div>
            </li>
            <li class="card" type="leaf">
                <div id="expr10"></div>
            </li>
            <li class="card" type="bomb">
                <div id="expr11"></div>
            </li>
            <li class="card open show" type="bolt">
                <div id="expr12"></div>
            </li>
            <li class="card" type="plane">
                <div id="expr13"></div>
            </li>
            <li class="card" type="bicycle">
                <div id="expr14"></div>
            </li>
            <li class="card" type="cube">
                <div id="expr15"></div>
            </li>
            <li class="card" type="diamond">
                <div id="expr16"></div>
            </li>
        </ul>
            </center>
        </div>
        <div id="dice">
            <div id="die1">
            </div>
            <div id="die2">
            </div>
        </div>
        <ul id="players-dashboard" class="players-dashboard">
        </ul>
        <li id="player-dashboard-template" class="player-dashboard template">
            <div class="player-identifiers">
                <span class="player-nick"></span>
            </div>
            <div class="player-stats">
                <ul>
                    <li class="correct">Correct: <span>0</span></li>
                    <li class="matches">Matches: <span>0</span></li>
                    <li class="incorrect">Incorrect: <span>0</span></li>
                </ul>
            </div>
            <div class="player-input">
                <div class="player-input-prompt"></div>
                <button class="roll-button">Roll</button>
                <input class="player-input-text" type="text"></input>
                <input class="player-input-submit-button" type="submit" value="Submit"></input>
            </div>
        </li>

        <div id="advance-prompt" class="overlay">
            <div class="popup">
                <h2>Level complete</h2>
                <a class="close" href=# >×</a>
                <div class="content-1">
                    That was pretty good. Are you ready to take it to another level?
                </div>
                <button id="next-level" onclick="window.location.href='../level2/1029384756.html';">
                    Level 2 😄</a>
                </button>
            </div>
        </div>
        <div id="gameover-prompt" class="overlay">
            <div class="popup">
                <div class="overlayRight">
                <h2>Game Over</h2>
                <a class="close" href=# >×</a>
                <button id="play-again" onclick="playAgain()">
                    Play again 😄</a>
                </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input id="create" type="submit" value="Create">
        <input id="room" type="text" size="40">
        <input id="join" type="submit" value="Join">

        <!--
        <input id="target" type="text" size="40">
        <input id="connect" type="submit" value="Connect">
        <input id="disconnect" type="submit" value="Disconnect">
        -->
    </div>
</body>
</html>
<body>
