<ul id="sortable">
  <li class="ui-state-default">{{ card1 }}</li>
  <li class="ui-state-default">{{ card2 }}</li>
  <li class="ui-state-default">{{ card3 }}</li>
  <li class="ui-state-default">{{ card4 }}</li>
  <li class="ui-state-default">{{ card5 }}</li>
  <li class="ui-state-default">{{ card6 }}</li>
  <li class="ui-state-default">{{ card7 }}</li>
  <li class="ui-state-default">{{ card8 }}</li>
  <li class="ui-state-default">{{ card9 }}</li>
  <li class="ui-state-default">{{ card10 }}</li>
  <li class="ui-state-default">{{ card11 }}</li>
  <li class="ui-state-default">{{ card12 }}</li>
</ul>
 
