<html>
<head>
    <title>Algebra742</title>
</head>
<body>
<h1>Welcome, {{ user.firstname }}!</h1>
<!--
Nov 8: <a href="{{ url_for('Assignment', assignment='Nov8Examples') }}">Solving equations examples</a><br/>-->
<h3>Current assignments</h3>
<p style="font-size: 16pt; line-height: 1.5;">
November 26: <a href="{{ url_for('Assignment', assignment='LinearEquationsInStandardFormB') }}">Linear Equations in Standard Form</a><br/>
November 26: <a href="{{ url_for('Assignment', assignment='SolvingEquationsTestCorrections') }}">Chapter 2 Test Corrections Guided Problems</a><br/>
November 26: <a href="{{ url_for('Assignment', assignment='UsingZeroPairsAndReciprocalPairs') }}">Using Zero Pairs and Reciprocal Pairs to Solve Equations</a><br/>
November 21: <a href="{{ url_for('Assignment', assignment='FunctionNotationTarsia') }}">Function Notation Puzzle</a><br/>
November 20: <a href="{{ url_for('Assignment', assignment='RepresentRelations') }}">Represent relations</a><br/>
November 19: <a href="{{ url_for('Assignment', assignment='EvaluateFunctions') }}">Evaluating functions using function notations</a><br/>
</p>

<h3>Past assignments</h3>
<p style="font-size: 16pt; line-height: 1.5;">
November 15: <a href="{{ url_for('Assignment', assignment='WhatIsAFunction') }}">What is a function?</a><br/>
November 15: <a href="{{ url_for('Assignment', assignment='CoordinatePairs') }}">Write a set of coordinate pairs</a><br/>
November 15: <a href="{{ url_for('Assignment', assignment='WODBFunctions') }}">Which one does not belong: Functions?</a><br/>
Choose one of the following sets to practice for the test
</p>
<p style="font-size: 16pt; line-height: 1.5;">
Level 1: <a href="{{ url_for('Assignment', assignment='ClassworkNov8A') }}">Solving equations with a variable in one place, a constant, and a coefficient</a><br/>
Level 2: <a href="{{ url_for('Assignment', assignment='ClassworkNov8B') }}">Solving equations with variables in more than one place on the same side of the equals sign</a><br/>
Level 3: <a href="{{ url_for('Assignment', assignment='ClassworkOct30B') }}">Solving equations with variables on both sides of the equals sign</a><br/>

October 26: <a href="{{ url_for('Assignment', assignment='BalancingCandy') }}">Balancing Candy</a><br/>
October 30: <a href="{{ url_for('Assignment', assignment='ClassworkOct30') }}">Solving equations with variables on both sides of the equals sign</a><br/>
October 29: <a href="{{ url_for('Assignment', assignment='DifferenceBetweenZeroPairAndReciprocalPair') }}">Reflection Question #8: How is a reciprocal pair similar to and different from a zero pair?</a><br/>
October 29: <a href="{{ url_for('Assignment', assignment='ClassworkOct29Advanced') }}">Solving Equations with Variables on Both Sides</a><br/>
<!--
October 29: <a href="{{ url_for('Assignment', assignment='ClassworkOct29') }}">Solving Equations with Variables in More Than One Place</a><br/>
-->
October 29: <a href="{{ url_for('Assignment', assignment='HomeworkOct29') }}">Homework: Page 100 #15-21</a><br/>
October 25: <a href="{{ url_for('Assignment', assignment='HWp93') }}">Page 93 #1-5 Guided</a><br/>
October 25: <a href="{{ url_for('Assignment', assignment='ClassworkOct25') }}">Solving equations with the distributive property and combining like terms</a><br/>
October 24: <a href="{{ url_for('Assignment', assignment='CLT') }}">Bellringer</a><br/>
October 24: <a href="{{ url_for('Assignment', assignment='SimplifyUsingDistributivePropertyMild') }}">Simplify Expressions Using the Distributive Property (Mild)</a><br/>
October 24: <a href="{{ url_for('Assignment', assignment='SimplifyUsingDistributivePropertySpicy') }}">Simplify Expressions Using the Distributive Property (Spicy)</a><br/>
October 21: <a href="{{ url_for('Assignment', assignment='WritingAndSolvingOneStepEquations') }}">Writing and Solving One-step Equations</a><br/>
October 21: <a href="{{ url_for('Assignment', assignment='DifferenceBetweenConstantAndCoefficient') }}">Reflection Question #8: How is a constant similar to and different from a coefficient?</a><br/>
October 16: <a href="{{ url_for('Assignment', assignment='DifferenceBetweenTermAndFactor') }}">Reflection Question #8:  How is a term similar to and different from a factor?</a><br/>
October 16: <a href="{{ url_for('Assignment', assignment='SolveEquationsGuided') }}">Solving Equations Guided</a><br/>
</p>
<!--
<a href="{{ url_for('Assignment', assignment='IntegerEquationsTest') }}">Integer Equations Quiz</a><br/>
<a href="{{ url_for('Assignment', assignment='CommunicatingReasoning') }}">Communicating My Reasoning</a><br/>
<a href="{{ url_for('Assignment', assignment='DifferenceBetweenTermAndFactor') }}">Difference between Term and Factor</a><br/>
<a href="{{ url_for('Assignment', assignment='TwoStepEquations') }}">Solving Two-step Equations</a><br/>
<a href="{{ url_for('Assignment', assignment='AlgebraicAndVerbalExpressions') }}">Algebraic and Verbal Expressions</a><br/>
<a href="{{ url_for('Assignment', assignment='TermsAndFactors') }}">Identifying Sums, Terms, Products, and Factors</a><br/>
<a href="{{ url_for('Assignment', assignment='ReciprocalPairsAndZeroPairs') }}">Reciprocal Pairs and Zero Pairs</a><br/>
<a href="{{ url_for('Assignment', assignment='PracticeZeroPairsAndReciprocalPairs') }}">Using Zero Pairs and Reciprocal Pairs</a><br/>
<a href="{{ url_for('Assignment', assignment='PracticeTest') }}">Practice for Integers and Equations Quiz</a>
-->

<h3>Rubrics</h3>
<p style="font-size: 16pt; line-height: 1.5;">
<!--<a href="{{ url_for('static', filename='SolvingEquationsTest.pdf') }}">Chapter 2 Test: Solving Equations</a><br/>-->
<a href="{{ url_for('rubric', username=user.username, assignment='SolvingEquationsTest') }}">Chapter 2 Test: Solving Equations</a><br/>
<a href="{{ url_for('rubric', username=user.username, assignment='IntegerEquationsQuiz') }}">Integer Equations Test</a><br/>
</p>

<!--
<p style="font-size: 16pt; line-height: 1.5;">
<a href="{{ url_for('Assignment', assignment='BalancingCandiesRubric') }}">Balancing Candies</a><br/>
</p>
-->
<h3>Assessment</h3>
<a href="{{ url_for('Assignment', assignment='SolvingEquationsTest') }}">Solving Equations Test</a><br/>
<p style="font-size: 16pt; line-height: 1.5;">
November 22: <a href="{{ url_for('Assignment', assignment='FunctionsTest') }}">Functions Test</a><br/>
</p>

</body>
</html>
