<html>
<head>
    <title>Algebra742 - Representing Balance Scales with Equations</title>
</head>
<body>
<h1>Hello {{ user.username }}.</h1>

<a href="{{ url_for('Assignment', assignment='AlgebraicAndVerbalExpressions') }}">Algebraic and Verbal Expressions</a><br/>
<a href="{{ url_for('Assignment', assignment='IntegerEquationsTest') }}">Integer Equations Quiz</a><br/>
<!--<a href="{{ url_for('Assignment', assignment='PracticeZeroPairsAndReciprocalPairs') }}">Using Zero Pairs and Reciprocal Pairs</a><br/>
<a href="{{ url_for('Assignment', assignment='PracticeTest') }}">Practice for Integers and Equations Quiz</a>
-->

</body>
</html>
