<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      metal:define-macro="layout">
<head>
    <meta charset="UTF-8" name=viewport content='width=500'>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>

    <script type="text/x-mathjax-config">
MathJax.Hub.Config({ "HTML-CSS": { scale: 200 }, TeX: { extensions: ["autobold.js", "AMSsymbols.js"] } });
    </script>

    <script type="text/javascript"
    src="{{ url_for('static', filename='js/MathJax.js', config='TeX-AMS-MML_HTMLorMML') }}">
    </script>
</head>
<body>
{% block nav %}
{% endblock %}
<main>
<section>
    <div id="nav">
        <ul>
            {% for j,q,i in enumerate(question_indices) %}
            <li>
                <a href="{{ url_for('Assignment', assignment=assignment, q=q, i=i) }}">{{ j }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        {{ QuestionData['Question'] }}
        {{ content | safe }}
    </div>
</section>

<div class="input">
<div class="answer_form">
    <form action="{{ url_for('Assignment', assignment=assignment, q=q, i=i) }}" method="post" name="answer_form">
    {{ form.hidden_tag() }}
{% if QuestionData['Type'] in ['MC','ArrowDiagram'] %}
<div class="answer_choices">
{% for subfield in form.options %}
<div class="answer_choice">
        {{ subfield }}
        {{ subfield.label }}
</div>
{% endfor %}
{{ form.other }}
</div>
{% endif %}
{% if QuestionData['Type'] == 'Numerical' %}
<p>
{{ form.answer(autofocus=true) }}
</p>
{% endif %}

    <p><input type="submit" value="Submit"></p>
</form>
</div>

<div>
    {% if correct %}
    <p>
    <b>Your answer {{ answer }} is correct!</b>
    </p>
    {% if NextQuestion %}
    <a href="{{ url_for('Assignment', assignment=assignment, q=NextQuestion['q'], i=NextQuestion['i']) }}" class="button">Next question</a>
    {% else %}
    <a href="{{ url_for('Assignment', assignment=assignment, q='submit') }}" class="button">Submit assignment</a>
    {% endif %}
    {% else %}
    {% if answer %}
    <p>
    <b>Your answer {{ answer }} is incorrect! Try again!</b>
    </p>
    {% endif %}
    {% endif %}
</div>
</div>
</main>
<footer>
</footer>
</body>
</html>
