<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      metal:define-macro="layout">
<head>
    <meta charset="UTF-8" name=viewport content='width=500'>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>

    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { extensions: ["autobold.js", "AMSsymbols.js"] } });
    </script>

    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body>
{% block nav %}
{% endblock %}
<main>
<section>
    <div id="content">
        <div class='lhs'>
        <img class='lhs' src="{{ url_for('static', filename=QuestionData['LHSImage']) }}"/>
        <center><h3>LHS</h3></center>
        </div>
        <div class='rhs'>
        <img class='rhs' src="{{ url_for('static', filename=QuestionData['RHSImage']) }}"/><br/>
        <center><h3>RHS</h3></center>
        </div>
        {{ content | safe }}
    </div>
</section>

<div class="input">
<div>
<form action="{{ url_for('RepresentBalances', q=q) }}" method="post" name="answer_form">
    {{ form.hidden_tag() }}
    {% for quantity in QuestionData['Quantities'] %}
    <p>
    Let {{ form.variables[loop.index0] }} represent {{ quantity }}.
    </p>
    {% endfor %}
    <p>
        {{ form.lhs }} =
        {{ form.rhs }}
    </p>

    <p><input type="submit" value="Check"></p>
    {% if correct %}
    <a href="{{ url_for('RepresentBalances', q=int(q)+1) }}" class="button">Next question</a>
    {% endif %}
</form>
</div>

<div>
<p>
LHS: {{ lhs }}
</p>
<p>
RHS: {{ rhs }}
</p>
<p>
Correct: {{ correct }}
</p>
</div>
</div>
</main>
<footer>
</footer>
</body>
</html>
