<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      metal:define-macro="layout">
<head>
    <meta charset="UTF-8" name=viewport content='width=500'>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true } });
    </script>

<!--    <script type="text/x-mathjax-config">
MathJax.Hub.Config({ "HTML-CSS": { scale: 200 }, TeX: { extensions: ["autobold.js", "AMSsymbols.js"] } });
    </script>
    -->
    {% if QuestionData['Template'] in ['PlotQuestion'] %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/plotly_ex1.js') }}"></script>
    {% endif %}
    <!--
    <script type="text/javascript"
    src="{{ url_for('static', filename='js/MathJax.js', config='TeX-AMS-MML_HTMLorMML') }}">
    </script>
    -->
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
      <script id="updateImageDataScript">
    function updateImageData() {
        {% if form.imageData is defined and form.imageData.data %}
        var canvas = document.getElementById("imageView");
        var ctx = canvas.getContext('2d');
        var img = new Image;
        img.onload = function(){
              ctx.drawImage(img,0,0); // Or at whatever offset you like
        };
        img.src = "{{ form.imageData.data }}";
        {% endif %}
    }
      </script>
      <script>
    $(function() {
        updateImageData()
/*
$("#answer_form").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = form.attr('action');
    if (typeof(url) == 'undefined') {
        url = window.location.href;
    }
    var canvas = document.getElementById("imageView");
    if (canvas != null ) {
        var imageData = canvas.toDataURL("image/png");
        $("#imageData").val(imageData);
    }

    $.ajax({
        type: "POST",
        url: url,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {
            //alert(data); // show response from the php script.
            window.location.href = url;
                        //window.location.reload(true);
            //$("html").html(data);
            //eval(document.getElementById('updateImageDataScript').innerHTML);
            //updateImageData();
            //eval(document.getElementById('loadPlotlyScript').innerHTML);
            //loadPlotly();
        }
    });
    // Inject our CSRF token into our AJAX request.
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
            }
        }
    })



});
*/
});
</script>
    {% if QuestionData['Type'] in ['Tarsia'] %}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 800px; }
    #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 200px; height: 200px; font-size: 4em; text-align: center; }
      </style>
  <script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
$('#answer_form').submit(function(){
     
    $('#answers').val($( "#sortable" ).sortable("serialize"));
    return true;
}); 
function rotateCard(e){
    var card = $(e.target).parents('li');
    /*
    var angle = ($(e.target).data('angle') + 90) || 90;
    $(e.target).css({'transform': 'rotate(' + angle + 'deg)'});
    $(e.target).data('angle', angle);
    */
    var angle = (card.data('angle') + 90) || 90;
    card.css({'transform': 'rotate(' + angle + 'deg)'});
    card.data('angle', angle);
}
$('.card img').click(rotateCard);
    var right_inputs = $('.card').find("input.right");
    right_inputs.css({'transform': 'rotate(90deg)'});
  } 
);
  </script>
    {% endif %}
    {% if QuestionData['Type'] in ['SortCards'] %}
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 800px; }
    #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 100px; font-size: 4em; text-align: center; }
      </style>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
  <script>
  $( function() {
      // The new index order for each item
      {% if 'input_order' in Parameters %}
      var items = $( "#sortable" ).find('li').detach();
      var order = {{ Parameters['input_order'] }};

      // Map the existing items to their new positions        
      var orderedItems = $.map(order, function(value) {
              return items.get(value);
      });
      $( "#sortable" ).html(orderedItems);
      {% endif %}
      $( "#sortable" ).sortable({
        start: function (event, ui) {
            $(ui.item).data("startindex", ui.item.index());
        },
        stop: function (event, ui)
        {        
            var startIndex = ui.item.data("startindex");
            var stopIndex = ui.item.index();
            if (startIndex < 7 || stopIndex < 7) {
              $(this).sortable('cancel');        
            }
        }  
      });
      $( "#sortable" ).disableSelection();
  $('#answer_form').submit(function(){
     
      $('#answers').val($( "#sortable" ).sortable("serialize"));
      return true;
  }); 
});
  </script>
    {% endif %}
    <script>
    window.onload = function() {
        //var answer_input = document.getElementById("answer");
        //answer_input.focus();
    }
    </script>
    {% for script in scripts %}
    <script src='{{ script }}'></script>
    {% endfor %}
</head>
<body>
{% block nav %}
{% endblock %}
<main>
<section>
    <div id="nav">
        {% if title is not none %}
        <h3>{{ title }}</h3>
        {% endif %}
        <ul>
            <li>
                <a href="{{ url_for('assignments') }}">Back to assignments list</a>
            </li>
            {% for item in question_indices %}
            <li>
                <div style="float: left; margin-right: 0.5em;">
                <div>
                <a href="{{ url_for('Assignment', assignment=assignment, q=item[0], i=item[1]) }}">{{ loop.index }}</a>
                </div>
                {% if test %}
                <div>
                    {% if scores[loop.index0] != 'NA' %}
                      $\checkmark$
                    {% else %}
                      -
                    {% endif %}
                </div>
                {% else %}
                <div>
                    {{ scores[loop.index0] }}
                </div>
                {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        {% if question_number is not none %}
        {{ question_number }}. {{ QuestionData['Question'] }} {{ Parameters['Question'] }}

        {% endif %}

        {{ content | safe}}

    {% if QuestionData['Template'] in ['PlotQuestion.html', 'PlotLines.html'] %}
    <div id="myDiv"></div>
    {% endif %}

{% if 'html' in Parameters and Parameters['html'] is not none %}
{{ Parameters['html'] | safe }}
{% endif %}

{% if 'draw' in Parameters and Parameters['draw'] %}
<script src="{{ url_for('static', filename='js/ResizeSensor.js') }}"></script>
<script src="{{ url_for('static', filename='js/ElementQueries.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/draw.js') }}"></script>
<script>
function loadPhoto() {
  var canvas = document.getElementById('imageView');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.addEventListener("load", function () {
        var ctx = canvas.getContext('2d');
        var img = new Image;
        img.onload = function(){
              ctx.drawImage(img,0,0); // Or at whatever offset you like
        };
        img.src = reader.result;
  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
}
</script>
<div id="drawing">
    <p>Use the space below to show your work. <br/><label><b>Drawing tool: </b><select id="dtool"><option value="pencil">Pencil</option><option value="eraser">Eraser</option><option value="line">Line</option><option value="rect">Rectangle</option></select></label>
    <label><b>Insert photo</b><input type="file" onchange="loadPhoto()"><br></label>
    </p>
<div id="canvas_container"><canvas class="imageCanvas" id="imageView"><p>Unfortunately, your browser is currently unsupported by our web application. We are sorry for the inconvenience. Please use one of the supported browsers listed below, or draw the image you want using an offline tool.</p><p>Supported browsers: <a href="http://www.opera.com">Opera</a>, <a href="http://www.mozilla.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a>, and <a href="http://www.konqueror.org">Konqueror</a>.</p></canvas></div>
</div>
{% endif %}
    </div>
</section>

{% if q is none %}
<form action="{{ url_for('Assignment', assignment=assignment, q='submit') }}" method="post" id="answer_form" name="answer_form" autocomplete="off">
    <p>Are you ready to submit this assignment?</p>
    <p><input type="submit" value="Submit"></p>
</form>
{% else %}
{% if QuestionData['Type'] in ['SetUpAndSolveEquationGuided', 'SolveEquationGuided'] %}

<div class="answer_form">
<form action="{{ url_for('Assignment', assignment=assignment, q=q, i=i) }}" method="post" id="answer_form" name="answer_form" autocomplete="off">
    {% if QuestionData['Type'] in ['SetUpAndSolveEquationGuided'] %}
    <p>
    <b>Fill in the blanks below to choose your units and define your variables:</b>
    </p>
    {% for quantity in Parameters['quantities'] %}
    <p>
    Let {{ form.equation_form.variables[loop.index0] }} represent the {{ quantity }}.
    </p>
    {% endfor %}
    <p>
    <b>Using the variables you defined, write an equation to represent the situation:</b>
    </p>
    <p>
    <b>Remember:</b> The total = the sum of the parts.<br/>
    <!--
    <b>2.</b> Final amount = Starting amount + how much is gained - how much is lost
    -->
    </p>
    <p>
        {{ form.equation_form.lhs }} =
        {{ form.equation_form.rhs }}
    </p>
    {% endif %}
{% for stepform in form.steps %}
<div class="step">
    <h3>Step {{ loop.index }}</h3>
    What operation are you doing to both sides?<br/>
    (Choose an operation below or choose to simplify both sides):
    <table>
        <tr>

            <th align="left">
                Choose Operation
            </th>
            <th align="left">
                What are you adding, subtracting, multiplying, or dividing by? <br/>(If you are simplifying, then leave this blank.)
            </th>
        </tr>
        <tr>
            <td>
    {{ stepform.operation }}<br/>
            </td>
            <td>
    {{ stepform.operand(style="font-size: 18pt; height: 40px; width:100px;") }}<br/>
            </td>
        </tr>
    </table>
    What will your new equation be after this step?
    {{ stepform.new_equation }}<br/>
</div>
<br/>
{% endfor %}

    {{ form.hidden_tag() }}

    <p><input type="submit" value="Submit"></p>
</form>
</div>
{% else %}
<div class="input">
<div class="answer_form">
    <form action="{{ url_for('Assignment', assignment=assignment, q=q, i=i) }}" method="post" id="answer_form" name="answer_form" autocomplete="off">
    {{ form.hidden_tag() }}
<input type="hidden" name="imageData" id="imageData" />
{% if QuestionData['Type'] in ['Sort'] %}
    {{ form.answer(style="font-size: 18pt; height: 40px; width:640px; ") }}
{% endif %}
{% if QuestionData['Type'] in ['InputOutputTable', 'InputOutputTableEquation','InputOutputTableAndSetOfCoordinatePairsEquation'] %}
<div>
    <table>
        <tr>

            <th align="center">
                {{ Parameters['variables'][0] }} 
            </th>
            <th align="center">
                {{ Parameters['variables'][1] }} 
            </th>
        </tr>
{% for coordinate_pair_form in form.coordinate_pair_forms %}
        <tr>
            <td>
    {{ coordinate_pair_form.x(disabled=false, style="font-size: 18pt; height: 40px; width:50px;") }}<br/>
            </td>
            <td>
    {{ coordinate_pair_form.y(disabled=false, style="font-size: 18pt; height: 40px; width:50px;") }}<br/>
            </td>
        </tr>
{% endfor %}
    </table>
</div>
<br/>
{% if 'explanation' in Parameters and Parameters['explanation']%}
Explanation:
<p>
{{ form.explanation(autofocus=true, style="font-size: 18pt; height: 80px; width:640px; ") }}
</p>
{% endif %}

{% if not test %}
<b>{{ message }}</b>
{% endif %}

{% endif %}
{% if QuestionData['Type'] in ['SetOfCoordinatePairs','SetOfCoordinatePairsEquation','SetOfCoordinatePairsEquationAndPrediction', 'InputOutputTableAndSetOfCoordinatePairsEquation'] %}
    {% if QuestionData['Template'] in ['PlotQuestion.html', 'PlotLines.html'] %}
    {% if QuestionData['Type'] not in ['InputOutputTableAndSetOfCoordinatePairsEquation'] %}
    <div id="myDiv"></div>
    {% endif %}
    {% endif %}
    {{ form.set_of_coordinate_pairs(autofocus=true, style="font-size: 18pt; height: 40px; width:640px; display: none;") }}
    {% if QuestionData['Type'] in ['SetOfCoordinatePairsEquationAndPrediction'] %}
        <label>
        {{ Parameters['prediction_question'] }}
        {{ form.answer(style="font-size: 18pt; height: 40px; width:640px; ") }}
        </label>
        {% if 'explanation' in Parameters and Parameters['explanation']%}
        <p>
            Explanation:
        </p>
            <p>
            {{ form.explanation(style="font-size: 18pt; height: 80px; width:640px; ") }}
            </p>
        {% endif %}
    {% endif %}

{% endif %}
{% if QuestionData['Type'] in ['Matching'] %}
<p style="font-size: 16pt; line-height: 1.5;">
<div class="prompts">
{% for prompt in Parameters['prompts'] %}
{{ loop.index }}. {{ prompt | safe}} {{ form.answers[loop.index0]() }} <br/>
{% endfor %}
</div>
<div class="answers">
{% for letter,answer in Parameters['answers'].items() %}
{{ letter }}. {{answer}}
{% endfor %}
</div>
</p>
<br/>
    {% if not test %}
    <b>{{ message }}</b>
    {% endif %}

{% endif %}
{% if QuestionData['Type'] in ['CoordinatePairs'] %}
{% for coordinate_pair_form in form.coordinate_pair_forms %}
<div class="step">
    <h3>Object {{ loop.index }}</h3>
    Choose an object and enter its coordinates?<br/>
    <table>
        <tr>

            <th align="left">
                Choose an object
            </th>
            <th align="left">
                What are its coordinates?
            </th>
        </tr>
        <tr>
            <td>
    {{ coordinate_pair_form.object_ }}<br/>
            </td>
            <td>
    {{ coordinate_pair_form.coordinate_pair(style="font-size: 18pt; height: 40px; width:100px;") }}<br/>
            </td>
        </tr>
    </table>
</div>
<br/>
{% if not test %}
    <b>{{ message }}</b>
{% endif %}
{% endfor %}

{% endif %}
{% if QuestionData['Type'] in ['SelectMultiple'] %}
<div class="answer_choices">
    {{ form.answers }}
</div>
{% endif %}
{% if QuestionData['Type'] in ['FindValues'] %}
{% for subform in form.answers %}
<div style="float: left;">
    {{ Parameters['variables'][loop.index0][0] }} = {{ subform.answer }}
</div>
{% endfor %}
{% endif %}
{% if QuestionData['Type'] in ['MCMappingDiagram','MCGraph'] %}
<div class="answer_choices">
{% for subfield in form.options %}
<div class="answer_choice">
        <div style="float: left;">
        {{ subfield }}
        </div>
        <div>
        {{ subfield.label }}
        </div>
</div>
{% endfor %}
<!--{{ form.other }}-->
</div>
{% endif %}
{% if QuestionData['Type'] in ['RubricScore','MC','ArrowDiagram'] %}
<div class="answer_choices">
{% for subfield in form.options %}
<div class="answer_choice">
        <div style="float: left;">
        {{ subfield }}
        </div>
        <div>
        {{ subfield.label }}
        </div>
</div>
{% endfor %}
{% if 'other' in Parameters %}
<label>{{ Parameters['other'] }}</label>
{{ form.other }}
{% endif %}
</div>
{% endif %}
{% if QuestionData['Type'] in ['Tarsia','SortCards'] %}
<p>
{{ form.answers(autofocus=true, style="font-size: 18pt; height: 40px; width:640px; display: none;") }}
</p>
{% endif %}
{% if QuestionData['Type'] in ['GenericEquality', 'Numerical','Simplify', 'Expression','OpenResponse', 'Equation'] %}
    {% if QuestionData['Template'] in ['PlotQuestion.html', 'PlotLines.html'] %}
    <div id="myDiv"></div>
    {% endif %}
<p>
{{ form.answer(autofocus=true, style="font-size: 18pt; height: 40px; width:640px; ") }}
</p>
{% if 'explanation' in Parameters and Parameters['explanation']%}
Explanation:
<p>
{{ form.explanation(autofocus=true, style="font-size: 18pt; height: 80px; width:640px; ") }}
</p>
{% endif %}
{% endif %}

    <p><input type="submit" value="Submit"></p>
</form>
</div>
{% endif %}
{% endif %}

<div>
    {% if correct %}
    {% if QuestionData['Type'] == 'SetUpAndSolveEquationGuided' %}
    <div class="ui-content">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ act3_youtube_video_id }}" allowfullscreen ></iframe>
    </div>
    {% endif %}
    {% if QuestionData['Type'] not in ['SetUpAndSolveEquationGuided', 'SolveEquationGuided'] %}
    <p>
                {% if not test %}
    <b>Your answer is correct!</b>
 {% endif %}
    </p>
    {% endif %}
    {% if not test %}
    <b>{{ message }}</b>
    {% endif %}
    {% if NextQuestion %}
    <a href="{{ url_for('Assignment', assignment=assignment, q=NextQuestion['q'], i=NextQuestion['i']) }}" class="button">Next question</a>
    {% else %}
    <a href="{{ url_for('Assignment', assignment=assignment, q='submit') }}" class="button">Submit assignment</a>
    {% endif %}
    {% else %}
    {% if answer and QuestionData['Type'] not in ['SetUpAndSolveEquationGuided', 'SolveEquationGuided']%}
    <p>
    <!--
    -->
                {% if not test %}
                <!--<b>Your answer {{ answer }} is incorrect! Try again!</b>-->
    <b>Your answer is incorrect! Try again!</b>
    {% endif %}
    </p>
    {% endif %}
    {% if not test %}
    <b>{{ message }}</b>
    {% endif %}
    {% endif %}
</div>
</div>
</main>
<footer>
</footer>
</body>
</html>
