<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      metal:define-macro="layout">
<head>
    <meta charset="UTF-8" name=viewport content='width=500'>
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>

    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({ TeX: { extensions: ["autobold.js", "AMSsymbols.js"] } });
    </script>

    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body>
{% block nav %}
{% endblock %}
<main>
<section>
    <div id="content">
        {{ content | safe }}
    </div>
</section>

<form action="{{ url_for('RepresentBalances', q=q) }}" method="post" name="answer_form">
    {{ form.hidden_tag() }}

    <p>
        {{ form.lhs }} =
        {{ form.rhs }}
    </p>

    <p><input type="submit" value="Check"></p>
</form>

<p>
LHS: {{ lhs }}
</p>
<p>
RHS: {{ rhs }}
</p>
<p>
Correct: {{ correct }}
</p>
</main>
<footer>
</footer>
</body>
</html>
