<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--<script src="{{ url_for('static', filename='js/plotly_ex1.js') }}"></script>-->
<script>
window.onload = function () {
var myPlot = document.getElementById('myDiv'),
    d3 = Plotly.d3,
    N = 16,
    x = {{ x|safe }},
    y = {{ y|safe }},
    data = [ { x:x, y:y, type:'scatter',
            mode:'markers', marker:{size:1} } ],
    layout = {
        hovermode:'closest',
        title:'Click on Points'
     };

Plotly.newPlot('myDiv', data, layout, {showSendToCloud: true});

myPlot.on('plotly_click', function(data){
    var answer_input = document.getElementById('set_of_coordinate_pairs');
    //var pts = $("#answer").val();
    var pts = answer_input.value;
    pts = pts.trim("{}");
    for(var i=0; i < data.points.length; i++){
        //pts = 'x = '+data.points[i].x +'\ny = '+
        //    data.points[i].y.toPrecision(4) + '\n\n';
        if (pts.length>0) {
            pts = pts+','
        }
        pts = pts+'('+data.points[i].x +','+
            data.points[i].y.toPrecision(4)+')';
    }
    pts = '{'+pts+'}';
    //$("#answer").val(pts);
    answer_input.value = pts;
    //alert('Closest point clicked:\n\n'+pts);
});
}
</script>
<div id="myDiv">
</div>
