Fill in the steps to solve the equation<br/>
${{ equation }}$
<br/>
<div class="input">
<div class="answer_form">
    <form action="{{ url_for('Assignment', assignment=assignment, q=q, i=i) }}" method="post" name="answer_form">

{{ form.test }}<br/>
{% for stepform in form.steps %}
<div class="step">
    {{ stepform.operation }}<br/>
    {{ stepform.operand }}<br/>
    {{ stepform.new_equation }}<br/>
</div>
<br/>
{% endfor %}

    {{ form.hidden_tag() }}

    <p><input type="submit" value="Submit"></p>
</form>
</div>
