<ul id="sortable">
    <li id="card_0" class="card ui-state-default">
        <div class="frame">
      <div class="north"></div>
      <div class="east"><input class="east" type="text" name="card0_east"></input></div>
      <div class="mid">{{ card0 | safe }}</div>
      <div class="south"><input class="east" type="text" name="card0_south"></div>
      <div class="west"></div>
        </div>
  <li id="card_1" class="card ui-state-default">{{ card1 | safe }}</li>
  <li id="card_2" class="card ui-state-default">{{ card2 | safe }}</li>
  <li id="card_3" class="card ui-state-default">{{ card3 | safe }}</li>
  <li id="card_4" class="card ui-state-default">{{ card4 | safe }}</li>
  <li id="card_5" class="card ui-state-default">{{ card5 | safe }}</li>
  <li id="card_6" class="card ui-state-default">{{ card6 | safe }}</li>
  <li id="card_7" class="card ui-state-default">{{ card7 | safe }}</li>
  <li id="card_8" class="card ui-state-default">{{ card8 | safe }}</li>
  <li id="card_9" class="card ui-state-default">{{ card9 | safe }}</li>
  <li id="card_10" class="card ui-state-default">{{ card10 | safe }}</li>
  <li id="card_11" class="card ui-state-default">{{ card11 | safe }}</li>
</ul>
 
