<ul id="sortable">
  <li class="card ui-state-default">{{ card1 | safe }}</li>
  <li class="card ui-state-default">{{ card2 | safe }}</li>
  <li class="card ui-state-default">{{ card3 | safe }}</li>
  <li class="card ui-state-default">{{ card4 | safe }}</li>
  <li class="card ui-state-default">{{ card5 | safe }}</li>
  <li class="card ui-state-default">{{ card6 | safe }}</li>
  <li class="card ui-state-default">{{ card7 | safe }}</li>
  <li class="card ui-state-default">{{ card8 | safe }}</li>
  <li class="card ui-state-default">{{ card9 | safe }}</li>
  <li class="card ui-state-default">{{ card10 | safe }}</li>
  <li class="card ui-state-default">{{ card11 | safe }}</li>
  <li class="card ui-state-default">{{ card12 | safe }}</li>
</ul>
 
