<ul id="sortable">
    {% for card in cards %}
    <li id="card_0" class="card ui-state-default">
      <div class="frame">
        <div class="north"><input class="north" type="text" name="card_0_north"></input></div>
        <div class="east"><input class="east" type="text" name="card_0_east"></input></div>
        <div class="mid">
          {{ cards[loop.index0] | safe }}
        </div>
        <div class="south"><input class="south" type="text" name="card_0_south"></input></div>
        <div class="west"><input class="west" type="text" name="card_0_west"></input></div>
      </div>
    </li>
    {% endfor %}
</ul>
 
