{% macro digraph_question(graph, node) %}
<div class="question" data-role="page" id="digraph_question_{{ graph }}_{{ node }}" source="digraph_question:{{ graph }}:{{ node }}">
    <!--<form><input type="hidden" name="graph"><input type="hidden" name="node">-->
            <span class="question_view"><!-- { "graph": "{{ graph }}", "node": "{{ node }}" } --></span>
    <!--<input type="submit" value="Submit"></form>-->
</div>
{% endmacro %}
{% macro snow_qm_task(collection, task) %}
<div class="snow-qm-task" data-role="page" id="snow_qm_{{ collection }}_{{ task }}" source="snow-qm:{{ collection }}:{{ task }}">
    <!--<form><input type="hidden" name="collection"><input type="hidden" name="task">-->
            <span class="question_view"><!-- { "collection": "{{ collection }}", "task": "{{ task }}" } --></span>
    <!--<input type="submit" value="Submit"></form>-->
</div>
{% endmacro %}
