{% extends "layout.html" %}
{% block title %}Have you met your match?{% endblock %}
{% block head %}
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/keypress-2.1.5.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
    function createScriptTags(scripts) {
        function createScriptTag() {
            let script = scripts.shift();
            // all scripts were loaded
            if (!script) return;
            let js = document.createElement('script');
            js.type = 'text/javascript';
            js.src = script;
            js.onload = (event) => {
              // loads the next script
              createScriptTag();
            };
            let s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(js, s);
        }
        createScriptTag();
    }
    function createScriptLoader(url) {
        const loadDynamicScript = (callback) => {
          const existingScript = document.getElementById(url);
        
          if (!existingScript) {
            const script = document.createElement('script');
            script.src = url; // URL for the third-party library being loaded.
            //script.id = scriptId; // e.g., googleMaps or stripe
            script.id = url; // e.g., googleMaps or stripe
            script.defer = true;
            document.body.appendChild(script);
        
            script.onload = () => {
              if (callback) callback();
            };
          }
        
          if (existingScript && callback) callback();
        };
        return(loadDynamicScript);
    };
    </script>
<script type="text/javascript">
  window.MathJax = {
    AuthorInit: function () {
      MathJax.Hub.Register.StartupHook("Begin",function () {
        MathJax.Hub.Queue(function () {
        });
      });
    },
    jax: ["input/TeX","output/HTML-CSS","output/NativeMML"],
    tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] },
    extensions: ["tex2jax.js"],
  };
</script>
    <script type="text/javascript" src="/static/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript" src="/static/js/memory.js">
  {{ super() }}
    <link rel="stylesheet" href="/static/css/memory.css">
{% endblock %}
{% block content %}
        <form>
        <div id="screen" class='gameboard'>
        </div>
        <input type="submit" value="Submit"/>
        </form>
        <ul id="players-dashboard" class="players-dashboard">
        </ul>
        <li id="player-dashboard-template" class="player-dashboard template">
            <div class="player-identifiers">
                <span class="player-nick"></span>
            </div>
            <div class="player-stats">
                <ul>
                    <li class="correct">Correct: <span>0</span></li>
                    <li class="matches">Matches: <span>0</span></li>
                    <li class="incorrect">Incorrect: <span>0</span></li>
                </ul>
            </div>
            <div class="player-input">
                <div class="player-input-prompt"></div>
                <button class="yes-button">=</button>
                <button class="no-button">≠</button>
            </div>
        </li>

        <div id="advance-prompt" class="overlay">
            <div class="popup">
                <h2>Level complete</h2>
                <a class="close" href=# >×</a>
                <div class="content-1">
                    That was pretty good. Are you ready to take it to another level?
                </div>
                <button id="next-level" onclick="window.location.href='../level2/1029384756.html';">
                    Level 2 😄</a>
                </button>
            </div>
        </div>
{% endblock %}
