{% extends "reveal_markdown_mathjax_chalkboard_broadcast.html" %}
{% set include_chalkboard = false %}
{% from "macros.html" import digraph_question %}.
{% block title %}Finding Solutions to Inequalities in Context{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://www.geogebra.org/apps/deployggb.js"></script>
  <script>  
    var ggbApp = new GGBApplet({"width": 900, "height": 600, "material_id": "U85HM3Dj"}, true);
    window.addEventListener("load", function() { 
//        ggbApp.inject('ggb-element');
    });
</script>
<style>
.container{
    display: flex;
}
.col{
    flex: 1;
}
</style>
{% endblock %}
{% block slides %}
<section class="medium-font do_not_print">

</section>
{% endblock %}
{% block reveal_options %}
  {{ super() }}
	chalkboard: {
		// optionally load pre-recorded chalkboard drawing from file
		src: "/static/EfficientlySolvingInequalities/chalkboard.json",
        readOnly: false,
	},
{% endblock %}
{% block more %}
  {{ super() }}
{% endblock %}
