{% extends "layout.html" %}
{% from "macros.html" import digraph_question %}.
{% block title %}Sample presentation{% endblock %}
{% block head %}
  <script type="text/javascript" src="/static/js/games/reveal_game.js"></script>
  {{ super() }}
  <script>
    var broadcastid = "asdfjvahsduhqw68";
    function save_work () {
        socket.emit('save_work', data=JSON.stringify(RevealChalkboard.storage));
    }
  </script>
  <script>
// adding a method to the Document.prototype:
Document.prototype.getElementsByRegex = function (attr, reg) {
  var superSet = document.querySelectorAll('[' + attr + ']');
  if (!superSet.length) {
    return null;
  }
  else {
    return [].filter.call(superSet, function (el) {
      return reg.test(el.getAttribute(attr));
    });
  }
};
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? '/static/js/reveal.js/css/print/pdf.css' : '/static/js/reveal.js/css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link)
	var links = document.getElementsByRegex( 'href', /paper.css\b/ );
    console.log(links)
    for (var link of links) {
	  link.href = window.location.search.match( /print-pdf/gi ) ? link.href.replace('paper.css','pdf.css') : link.href;
    }
  </script>
  <script>
socket.on('question_data', update_question_data);
  </script>
  <link rel="stylesheet" href="/static/js/reveal.js/css/reveal.css">
  <link rel="stylesheet" href="/static/js/reveal.js/css/theme/white.css">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <link rel="stylesheet" href="/static/css/algebra742live.css">
  <script src="https://kit.fontawesome.com/4cc21f3326.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}
{% block content %}
		<div class="reveal">
			<div class="slides">
                {% block slides %}
                {% endblock %}
			</div>
		</div>
{% endblock %}
{% block more %}
		<script src="/static/js/reveal.js/js/reveal.js"></script>
		<script>
Reveal.initialize({
    center: false,
    math: {
        mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
        config: 'TeX-AMS_HTML-full', // See http://docs.mathjax.org/en/latest/config-files.html
        // pass other options into `MathJax.Hub.Config()`
        TeX: { Macros: { RR: "{\\bf R}" } }
    },
	chalkboard: {
		// optionally load pre-recorded chalkboard drawing from file
		//src: "chalkboard.json",
        readOnly: false,
	},
	anything: [ 
        {
          className: "question", 
          initialize: (function(container, options){ 
              socket.emit('get_question_data', { graph: options.graph, node: options.node });
              //setting the id of the question div is now handled by the template macro
              //container.id = "question_"+options.graph+"_"+options.node;
            }) 
        },
    ],
  broadcast: {
    secret: '$2a$05$hhgakVn1DWBfgfSwMihABeYToIBEiQGJ.ONa.HWEiNGNI6mxFCy8S', 
    // Configure RTCMultiConnection
    connection: {
      socketURL: 'https://revealjs-broadcast.herokuapp.com/',
      session: {
		audio: false,
		video: false,
		oneway: true
      },
    },
  },
	dependencies: [
		// ...
		//{ src: '/static/js/reveal.js-plugins/chalkboard/chalkboard.js' },
		{ src: '/static/js/chalkboard.js' },
        { src: '/static/js/reveal.js-plugins/anything/anything.js' },
        { src: '/static/js/reveal.js/plugin/math/math.js', async: true },
        { src: '/static/js/reveal_countdown/countdown.js' },
        { src: '/static/js/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: '/static/js/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
    { src: '/static/js/reveal.js-plugins/broadcast/RTCMultiConnection.min.js'},
    { src: '/static/js/reveal.js-plugins/broadcast/socket.io.js'},
    { src: '/static/js/reveal.js-plugins/broadcast/bCrypt.js'},
    { src: '/static/js/reveal.js-plugins/broadcast/broadcast.js'},
		// ...
	],
    countdown: { defaultTime: 600, autostart: "no" },
	keyboard: {
	    67: function() { RevealChalkboard.toggleNotesCanvas() },	// toggle notes canvas when 'c' is pressed
	    66: function() { RevealChalkboard.toggleChalkboard() },	// toggle chalkboard when 'b' is pressed
	    83: function() {
            var password = prompt("Please enter broadcast password", "");
            RevealBroadcast.start( { id: broadcastid, password: password } );
        },	// create broadcast when 's' is pressed
	    65: function() {
            RevealBroadcast.connect( { id: broadcastid } );
        },	// connect to broadcast when 'a' is pressed
	    46: function() { RevealChalkboard.clear() },	// clear chalkboard when 'DEL' is pressed
	     8: function() { RevealChalkboard.reset() },	// reset chalkboard data on current slide when 'BACKSPACE' is pressed
	    68: function() { RevealChalkboard.download() },	// downlad recorded chalkboard drawing when 'd' is pressed
	    88: function() { RevealChalkboard.colorNext() },	// cycle colors forward when 'x' is pressed
	    89: function() { RevealChalkboard.colorPrev() },	// cycle colors backward when 'y' is pressed
	},
	// ...
    embedded: false,
});
		</script>
{% endblock %}
<a href="#" onclick="RevealBroadcast.connect( { id: document.getElementById('broadcastid').value } ); return false;">Join broadcast</a>
