{% extends "reveal_markdown_mathjax_chalkboard_broadcast.html" %}
{% set include_chalkboard = false %}
{% from "macros.html" import digraph_question %}.
{% block title %}Finding Solutions to Inequalities in Context{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript" src="/albus/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/static/js/loadOnDemand.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
<style>
.container{
    display: flex;
}
.col{
    flex: 1;
}
</style>
{% endblock %}
{% block slides %}
<section data-markdown data-separator="^---$" class="medium-font do_not_print">
<script type="text/template">
<div load-on-demand="'whiteboard'"></div>
2. {{ digraph_question('ch5', 'q17') }}
</script>
</section>
{% endblock %}
{% block reveal_options %}
  {{ super() }}
	chalkboard: {
		// optionally load pre-recorded chalkboard drawing from file
		src: "/static/EfficientlySolvingInequalities/chalkboard.json",
        readOnly: false,
	},
{% endblock %}
{% block more %}
  {{ super() }}
{% endblock %}
